.navbar-sticky {
  height: 85px;
  position: sticky !important;
  top:0;
}

/*.navbar-sticky i {
  height: 70px;
  color: white;
}*/

.logo i{
  font-size: 40px;
  margin-top: 10px;
  height: 60px;
}

.logo p{
  font-size: 40px;
  color: white;
  height: 60px;
  margin-left: 10px;
}

.log {
  display: flex;
  /*align-items: center;*/
  /*justify-content: space-between;*/
}

.background-black {
  background: black;
  transition: 0.5s ease;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-navbar {
  display: flex;
  align-items: center;
}

.btn-navbar li {
  margin: 0 20px 15px 0;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  color: white;
  transition: 0.5s ease;
  font-size: 24px;
}

.navbar a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.other-nav {
  background: black;
  height: 75px;
}
