.navbar-sticky {
  height: 85px;
  position: sticky !important;
  top:0;
  transition: 0.4s ease;
}

/*.navbar-sticky i {
  height: 70px;
  color: white;
}*/

.navbar-dropdown {
  display: none;
}

.logo i{
  font-size: 40px;
  margin-top: 10px;
  height: 60px;
}

.logo p{
  font-size: 28px;
  color: white;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.log {
  display: flex;
  /*align-items: center;*/
  /*justify-content: space-between;*/
}

.background-black {
  background: black;
  transition: 0.5s ease;
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-navbar {
  display: flex;
  align-items: center;
}

.btn-navbar li {
  margin: 0 20px 15px 0;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  color: white;
  transition: 0.5s ease;
  font-size: 24px;
}

.navbar a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.other-nav {
  background: black;
  height: 75px;
}

.navbar-dropdown button{
  border: none;
  background: none;
  color: white;
}

.navbar-dropdown i {
  font-size: 24px;
}

.nav {
  float: right;
  margin-right: 40px;
  background: white;
  border-radius: 4px;
  margin-top: -38px;
  display: none;
}

.nav a{
  color: black;
  transition: 0.5s ease;
}

.nav li {
  margin: 10px 0;
  list-style-type: none;
}

.nav ul {
  margin: 0px 0px;
  padding: 10px 20px;
}

.active-responsive {
  display: block;
}
.nav a:hover{
  opacity: 0.8;
  text-decoration: none;
}
